*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height: 100dvh;
    width:100%;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-top:solid 15px #E22426;
    border-bottom:solid 15px #E22426;
    
}

.banner{
    background-color: #134CA0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    max-width:100%;
    display:block;
    
}

section{
    background-color: #00A89D;
}

nav{
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:2em;
    padding:1%;
}

.navContainer{
    min-width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.navContainer a{
    text-decoration: none;
    color:var(--color);
    position: relative;
    transition: color 0.3s ease;
    
}

.navContainer a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: var(--color); 
    transition: width 0.3s ease-in-out;
    
}

.navContainer a:hover::after{
    width:100%
}

.navContainer a:hover{
    color:var(--color);
}

.navContainer a.active{
    color:var(--color);
    cursor:default;
}

.navContainer a.active::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: var(--color);
}


/*this is footer*/
.bottomContainer{
    color:#828282;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    font-size:1em;
}

.leftLogo img{
    display:block;
    padding-right:4%;
}

.list{
    font-size: 0.85em;
    display: flex;
    flex-direction: column;
    justify-content: center; 


}

.list > div {
    padding: 3% 0;
}


.bottomTextRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    padding: 0 4%;
    
}
.button{
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #E22426;
    padding:4% 8%;
    color:white;
}

h6{
    font-weight: 200;
    padding-top:5%;
}
